body{
    margin: 0;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 8px ;
}